<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>UUAGC</string>
	<key>contactName</key>
	<string>Alessandro Vermeulen</string>
	<key>contactEmail</key>
	<string>alessandro.vermeulen@me.com</string>
	<key>uuid</key>
	<string>EEA9CC3A-358D-4FCD-A93D-6B03DC4A2A20</string>
</dict>
</plist>
